@import "tailwindcss";

.sidebar-gradient {
 background: linear-gradient(90deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.8) 100%);
}
.nav-item {
  border-radius: 19px;
}
.nav-item:hover {
background: linear-gradient(90deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.8) 100%);
  transform: translateX(4px);
  transition: all 0.2s ease;
}
.team-item:hover {
background: linear-gradient(90deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.8) 100%);
}
.badge {
 background: linear-gradient(90deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.8) 100%);
}


.searchInput{
    width: 80%;
        color: white;
        height: 46px;
}

.theApp{
        background: linear-gradient(169deg, #444445 0%, #000000 100%);
}


.searchBarDiv{
 background: linear-gradient(90deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.4) 50%, rgba(0,0,0,0.8) 100%);
}